<!--
Template for the main controller
-->

<h2>
    Interpolation
</h2>


{{ 10 * 5}}

<br/>

{{ctrl.greeting}}

<br/>

{{ctrl.sayHello()}}

<h2>
    Binding
</h2>

<form ng-submit="ctrl.bindingExampleFunc()">
    <input type="text" ng-model="ctrl.bindingExample" />

</form>

<h2>
    Validation
</h2>

<form >
    <input type="email"
           placeholder="Type your email..."
           ng-model="ctrl.emailInput"
           minlength="5"
           required />
</form>

<h4>
    FormController/NgModelController
</h4>
<form name="myFormController" novalidate>
    <input type="email"
           name="myEmail"
           ng-model="ngModelControllerDemo"
           required
           minlength="5"
           maxlength="50" />
    <div ng-if="myFormController.myEmail.$invalid">
        <div ng-if="myFormController.myEmail.$error.required">
            This field is required
        </div>
        <div ng-if="myFormController.myEmail.$error.minlength">
            there is a minlength of 5
        </div>
        <div ng-if="myFormController.myEmail.$error.email">
            Invalid email
        </div>
    </div>
    <button
            ng-disabled="myFormController.$invalid"
            type="submit">Submit</button>
</form>

<h2>
    Events
</h2>

<p ng-click="ctrl.count=ctrl.count + 1" ng-init="ctrl.count=0">
    {{ctrl.count}}
</p>

<button ng-click="ctrl.alertClicked($event)">
    Alert
</button>

<input ng-model="ctrl.ngChangeDemo" ng-change="ctrl.count = ctrl.count + 1" />

<h5 ng-mouseover="ctrl.mouseOverExample()">
    Hover over me
</h5>

<h2>
    DOM manipulation
</h2>

<div ng-if="ctrl.count > 0">
    Show div
</div>

<div ng-show="ctrl.count == 0">
    ngShow
</div>


<form ng-submit="ctrl.groceryList.push(ctrl.addGroceryInput)">
    <input ng-model="ctrl.addGroceryInput" />
</form>

<ul>
    <li ng-repeat="item in ctrl.groceryList">
        {{$index}} {{item}}
    </li>
</ul>

<ul>
    <li ng-repeat="(key, value) in ctrl.groceryObj">
        {{key}} {{value}}
    </li>
</ul>

<h2>
    Changing appearance
</h2>

<h3>
    NgClass
</h3>

<div ng-class="ctrl.classObj" ng-init="ctrl.classObj={'bg-orange': ctrl.toggleMe, 'bg-blue': !ctrl.toggleMe}">
    Changing style
</div>
<form>
    <input ng-model="ctrl.changingClassInput" />
    <input
            ng-change="ctrl.classObj={'bg-orange': ctrl.toggleMe, 'bg-blue': !ctrl.toggleMe}"
            type="checkbox"
            ng-true-value="true"
            ng-false-value="false"
            ng-model="ctrl.toggleMe" />
    <button ng-click="ctrl.classObj['bg-orange']=!ctrl.classObj['bg-orange']">
        Toggle
    </button>
</form>

<h3>
    NgStyle
</h3>

<div ng-style="{'background-color': ctrl.changingClassInput}">
    ngStyle
</div>

<h2>
    Filtering
</h2>

{{ctrl.classObj | json}}

<br/>

{{ctrl.today}}
<br/>
{{ctrl.today | date:'dd/MM/yyyy'}}


<input ng-model="ctrl.searchInput" />
<ul>
    <li ng-repeat="item in (ctrl.groceryList | filter:ctrl.searchInput)">
        {{item}}
    </li>
</ul>

{{ctrl.searchInput | zigzag}}